<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Home</title>
    <meta charset="utf-8" />
    
    <script src="ng/angular.min.js"> </script>
    <script src="app/app.js"> </script>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
    <div id="main"
         ng-controller="AlbumsController as albums"
         ng-init="getRootItems()">

        <div ng-repeat="item in albumItems">
            <a data-ng-href="{{ item.Url }}">{{ item.Name }}</a>    
        </div>

        <!--<button ng-click="getRootItems()">Test</button>-->
    </div>
</body>
</html>
