body {
    background-color: white;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: dark;    
}

.page
{
    margin: 0px;
    /*width: 95%;    */
}

.album-name
{
    margin: 0px auto;
    text-align: center;
    /*border-bottom: 1px solid lightgray;*/
    padding-bottom: 8px;
    font-family: 'Tahoma';
    font-weight: normal;
    font-size: 14px;
    /*position: fixed;*/
    width: 100%;
    color: black;
    padding-top: 10px;
    background: white;
    border-bottom: 1px solid rgba(0,0,0,0.7);    
}

#photos-list
{
    padding-left: 0px;
    margin: 0px;
    padding: 0px;   
    line-height: 0px;
}

.photo
{        
    list-style-type: none;    
    display: inline-block;
    min-height: 100px;
    min-width: 100px;
}

.photo img
{
    display: block;
    border-width: 0px;
    margin: 0px auto;    
}

#album-list
{    
    margin: 0px auto;
    width: 80%;
}

.album:hover
{
    background: #297bca;
}

.album
{
    margin-top: 1px;
    margin-left: 1px;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    float: left;

    vertical-align: middle;
    display: table-cell;
    line-height: 100px;
    padding: 5px;
    text-align: center;
    position: relative;
}

.album a
{
    font-size: 14px;
    color: black;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    text-decoration: none;
}

.album .photo-count
{
    position: absolute;
    top: 3px;
    right: 3px;
    line-height: normal;
    border-bottom: 1px dotted gray;
    border-left: 1px dotted gray;
    padding: 2px;
}