html
{
	overflow-y: scroll;
}

body
{
  margin: 0px 5px;
  padding-top: 60px;
}

div[album-view]
{
  position: relative;
  margin-bottom: 24px;
}

div[content-item]
{
	background-color: #EEE;
}

.items-root img
{
	width: 100%;
	height: 100%;
}

div[album-item]
{
	text-align: center;
	background-color: #EEE;
	border: 1px solid rgba(0,0,0, 0.5);
}

.album-item-content 
{
	cursor: pointer;
}

.album-item-content img
{
	object-fit: cover;
}

.album-item-content a, .album-item-content a:hover
{
  color: white;
  font-family: 'Ubuntu', 'Segoe UI';
  /*background-color: white;
	background-color: rgba(255, 255, 255, 0.7);*/
  width: 100%;
  display: block;
  padding: 6px;
  padding-top: 12px;
  bottom: 0px;
  position: absolute;
  font-size: medium;
  font-weight: 500;
  /*border-top: solid 1px rgba(0, 0, 0, 0.7);*/
  text-decoration: none;
  left: 0px;
  right: 0px;
  text-shadow: 0px 0px 1px rgba(0,0,0,1);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,0.7+100 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 100%);/* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.7) 100%);/* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.7) 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b3000000',GradientType=0 );/* IE6-9 */
}

.noscroll
{
  position: fixed;
  overflow: hidden;
  height: 100%;
}

/* BOOTSTRAP */
/*http://stackoverflow.com/questions/19733447/bootstrap-navbar-with-left-center-and-right-aligned-items*/

/*.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
*/

/* APP LOADER */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}


/*SPINNER*/
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}