body
{
}

.contentItem
{
	display: block;
	margin: 0px;
	padding: 0px;
	border: black 1px solid;
}

.contentItem .thumbnail
{
	display: block;
}

.albumItem a
{
	cursor: pointer;
	border-bottom: dotted 1px black;
}

.albumItem a:hover
{
	border-bottom: solid 1px black;
}