body
{
}

.contentItem
{
	margin: 0px;
	padding: 0px;
	display: block;
}

.contentItem .thumbnail
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	display: block;
}

.albumItem a
{
	cursor: pointer;
	border-bottom: dotted 1px black;
}

.albumItem a:hover
{
	border-bottom: solid 1px black;
}


[items-pane]
{
	/*background-color: #DDD;*/
}