html
{
	overflow-y: scroll;
}

body
{
  margin: 0px 5px;
  padding-top: 60px;
}

div[album-view]
{
  position: relative;
  margin-bottom: 24px;
}

div[content-item]
{
	background-color: #EEE;
}

.items-root img
{
	width: 100%;
	height: 100%;
}

div[album-item]
{
	text-align: center;
	background-color: gray;
	/*border: 1px solid rgba(0,0,0, 0.5);*/
}

.album-item-content 
{
	cursor: pointer;
}

.album-item-content a
{
  font-size: 14px;
  /*text-shadow: 1px 1px 2px;*/
  color: black;
}

.album-item-content img
{
	object-fit: cover;
}

.album-item-content a
{
	font-family: 'Segoe UI';
	background-color: rgba(255,255,255,0.5);
	width: 100%;
	display: block;
	padding: 10px;
	bottom: 0px;
	position: absolute;
	box-sizing: border-box;
	/* height: 100%; */
	font-size: large;
	border-top: solid 1px rgba(255, 255, 255, 0.2);
	/* font-weight: 100; */
}

/* BOOTSTRAP */
/*http://stackoverflow.com/questions/19733447/bootstrap-navbar-with-left-center-and-right-aligned-items*/

/*.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
*/
/*SPINNER*/
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}