<div ng-controller="AlbumsController as albums"
     ng-init="init()">

    <button ng-click="getParentAlbum()">Parent album</button>

    <br />

    <h4>albums</h4>

    <div album-item ng-repeat="albumItem in currentAlbum.albumItems"
                item="albumItem" on-click="onAlbumClick(albumItem)"></div>

    <h4>content items</h4>

    <div items-pane target-height="200" spacing="1">

	    <div items-pane-item='{"rendredEvent": "content-item-rendered", "aspect": "contentItem.origWidth/contentItem.origHeight"}'
            content-item ng-repeat="contentItem in currentAlbum.contentItems" item="contentItem">
        </div>
	</div>
</div>