<h2>Settings</h2>
<div>
	<label>High quality thumbnails</label>
	<input type="checkbox" ng-model="config.avoidClientSideResize"></input>

	<br />

	<label>Spacing</label>
	<input type="number" min="0" max="10" required 
		ng-model="config['albumView.spacing']"> </input>

	<br />

	<label>Desired item height</label>
	<input type="number" min="50" max="1000" required
		ng-model="config['albumView.targetHeight']"> </input>

	<br />

	<button ng-click="restoreDefault()">Restore default</button>
	<button ng-click="saveConfig()">Save</button>
</div>