<style type="text/css">
	.root
	{

	}

	.item-wrap
	{
		display: inline-flex;

		width: 100px;
		height: 100px;

		background-color: red;
	}

	.item
	{
		background-color: blue;

		width: 100%;
		height: 100%;
	}
</style>

<div class="root">
	<div class="item-wrap">
		<div class="item">
			<a>test</a>
		</div>
	</div>

	<div class="item-wrap">
		<div class="item">
			<a>test</a>
		</div>
	</div>
	<div class="item-wrap">
		<div class="item">
			<a>test</a>
		</div>
	</div>
	<div class="item-wrap">
		<div class="item">
			<a>test long test long test long test long test long test long test long test long test long </a>
		</div>
	</div>

	<div class="item-wrap">
		<div class="item">
			<a>test long test long test long test long test long test long test long test long test long </a>
		</div>
	</div>

	<div class="item-wrap">
		<div class="item">
			<a>test long test long test long test long test long test long test long test long test long </a>
		</div>
	</div>

	<div class="item-wrap">
		<div class="item">
			<a>test long test long test long test long test long test long test long test long test long </a>
		</div>
	</div>

	<div class="item-wrap">
		<div class="item">
			<a>test long test long test long test long test long test long test long test long test long </a>
		</div>
	</div>
	<div class="item-wrap">
		<div class="item">
			<a>test</a>
		</div>
	</div>
	<div class="item-wrap">
		<div class="item">
			<a>test</a>
		</div>
	</div>
	<div class="item-wrap">
		<div class="item">
			<a>test</a>
		</div>
	</div>
</div>