@using System.Configuration;

@{

    ViewBag.Title = "Home Page";    
}

<script type="text/javascript">
    function onSuccess() {
        alert('success');
    }
</script>

<div style="width: 100%;">
    <div id="album-list">        
        @foreach (PhotoGallery.Models.Album album in ViewBag.Albums)
        {
            <div class="album">
                <span class="photo-count">@album.PhotoCount</span>
                @Html.ActionLink(album.Name, "ViewAlbum", new { Album = album.Path })
            </div>
        }
    </div>
</div>
